@import '../scss/_variables.scss', '../scss/_cards.scss', '../scss/_navbar.scss';

@font-face {
    font-family: 'H2';
    src: url('../font/BEYNO.otf') format('opentype');
}


/*CONFIGURAÇÃO [ELEMENTS HTML5]*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.section-content{
    width: 100%;
    height: 100vh;
    padding: 30px 80px;
    background-color: $backgroundSecond;
    @include screen480px{
        padding: 30px 20px;
    }
    h2.section-h2{
        font-size: 5em;
        padding-top: 25px;
        text-shadow: 3px 3px 10px #00000079;
        color: $subTitle;
        font-family: 'H2';
        @include screen992px{
            font-size: 3em;
        }
        @include screen780px{
            font-size: 2.5em;
        }
        @include screen480px{
            font-size: 2em;
        }
    }
}
/*CONFIGURAÇÃO [ELEMENTS HTML5]*/

/*CONFIGURAÇÃO [MAIN]*/
main{
    width: 100%;
    height: 100vh;
    background-image: url('../images/bg-main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

div.layer{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #000000b2;
    backdrop-filter: blur(5px);

    article.article-layer, aside.aside-layer{
        width: 50%;
        height: 100vh;
        display: flex;
        align-items: center;

        img.logo-bp{
            width: 75%;
            animation: float 3s infinite;
        }

        @keyframes float{
            0%, 100%{transform: translateY(0);}
            50%{transform: translateY(50px);}
        }

        a{
            font-weight: bold;
            text-decoration: none;
            color: $Title;
            &:hover{
                text-decoration: underline;
            }
        }

        p{
            margin-bottom: 0;
            text-shadow: 3px 3px 10px #000000d7;
            color: $letterColor;
            @include screen480px{
                font-size: 0.85em;
                text-align: left;
            }
        }
    }
}
/*CONFIGURAÇÃO [MAIN]*/

/*CONFIGURAÇÃO [SECTION > FIRST-SECTION]*/
section.first-content{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: $backgroundSecond;
    @include screen992px{
        @include flexCenter(column, center);
    }

    article{
        @include flexBasic(center);
        width: 50%;
        @include screen992px{
            width: 100%;
        }

        iframe{
            width: 560px;
            height: 315px;
            @include screen480px{
                width: 600px;
            }
        }
    }
    
    aside{
        width: 50%;
        margin: 0 0 0 20px;
        @include flexBasic(space-evenly);
        @include screen992px{
            width: 100%;
            margin: 20px 0 0 0;
        }
        @include screen480px{
            font-size: 0.85em;
        }

        div.text-aside{
            width: 50%;
            padding: 5px;
            p{
                font-size: 1em;
                @include screen992px{
                    font-size: 0.8em;
                }
                @include screen780px{
                    font-size: 0.7em;
                }
            }
        }

        div.list-aside{
            width: 50%;
            @include screen992px{
                margin-left: 20px;
            }
            ul{
                list-style: none;
                @include screen480px{
                    font-size: 0.65em;
                }
                li{
                    @include screen780px{
                        font-size: 1em;
                    }
                    @include screen480px{
                        font-size: 0.95em;
                    }
                    a{
                        font-weight: bold;
                        text-decoration: none;
                        color: $Title;
                        &:hover{
                            text-decoration: underline;
                        }
                        &:visited{
                            color: $subTitle;
                        }
                    }
                }
        
            }
        }
    }
}
/*CONFIGURAÇÃO [SECTION > FIRST-SECTION]*/

/*CONFIGURAÇÃO [SECTION > PHOTOS-SECTION]*/
section.photos-content{
    width: 100%;
    height: 50vh;
    display: flex;
    background-color: $backgroundPrime;

    div.photos-desc-div{
        width: 25%;
        height: 50vh;
        @include screen480px{
            display: none;
        }
    }
    
    div.photos-desc{
        padding: 50px 10px;
        color: $letterColor;
        animation: pulse 5s infinite ease-in-out;
        @include screen992px{
            font-size: 0.7em;
        }
    }
    
    @keyframes pulse{
        0%, 100%{text-shadow: 5px 5px 5px rgba(77, 0, 128, 0.8)}
        50% {text-shadow: 5px 5px 5px rgba(77, 0, 128, 0.185);}
    }
    
    div.section-carousel{
        width: 50%;
        @include screen480px{
            width: 100%;
        }
    }
    
    img.picture-carousel{
        height: 20.55rem;
        @include screen992px{
            height: 19.65rem;
        }
    }
}
/*CONFIGURAÇÃO [SECTION > PHOTOS-SECTION]*/

/*CONFIGURAÇÃO [second-content > Personagens]*/
div.second-content-image{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.banner-personas{
    width: 75%;
    height: 90vh;
    @include screen780px{
        width: 100%;
    }
    @include screen480px{
        height: 45vh;
    }
}

section.personas-content{
    display: flex;
    @include screen780px{
        @include flexCenter(column, center);
        margin-bottom: 50px;
        &:last-child{
            margin-bottom: 0;
        }
    }

    article, aside{
        width: 50%;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        @include screen780px{
            width: 100%;
            margin-bottom: 50px;
        }
    }
}
/*CONFIGURAÇÃO [second-content > Personagens]*/

/*CONFIGURAÇÃO [third-content > Wakanda Para Sempre]*/
div.cine-content{
    display: flex;
    align-items: center;
    justify-content: center;
    article.cine-content2, aside.cine-content2{
        width: 50%;
        height: 75vh;
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        @include screen780px{
            width: 100%;
            height: 75vh;
        }
    }
    /*CARTAZ PANTERA NEGRA*/
    article.cine-content2 img{
        width: 50%;
        height: 60vh;
        @include screen780px{
            width: 100%;
            height: 50vh;
        }
    }
    article.cine-content2{
        span.cine-title-movie{
            font-size: 2em;
            font-weight: bold;
            @include screen780px{
                font-size: 1em;
            }
            @include screen480px{
                font-size: 0.9em;
            }
        }
        p{
            font-size: 1.5em;
            span{
                font-weight: bold;
            }
            @include screen480px{
                font-size: 0.9em;
            }
        }
    }
}

div.logo-block-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /*MARCAS DE CINEMA*/
    div.logo-block, img{
        width: 100px;
        height: 100px;
        @include screen780px{
            width: 50px;
            height: 50px;
        }
    }
}
/*CONFIGURAÇÃO [third-content > Wakanda Para Sempre]*/


/*CONFIGURAÇÃO [fourth-content > Desenvolvimento do projeto]*/
div.fourth-content{
    width: 100%;
    height: 82.5vh;
    display: flex;
    article{
        width: 50%;
        height: 75vh;
        display: flex;
        align-items: center;
        justify-content: center;
        @include screen780px{
            display: none;
        }
    img.picture-chadwick{
        width: 70%;
        height: 70vh;
        border-radius: 50%;
        @include screen992px{
            height: 50vh;
            }
        }
    }

    aside{
        width: 50%;
        height: 75vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        @include screen780px{
            width: 100%;
        }

        p{
            font-size: 1em;
            @include screen992px{
                font-size: 0.95em;
            }
            @include screen780px{
                font-size: 0.9em;
            }
            @include screen480px{
                font-size: 0.75em;
            }
        }
    
        span{
            font-style: italic;
        }
    } 
}
/*CONFIGURAÇÃO [fourth-content > Desenvolvimento do projeto]*/

/*CONFIGURAÇÃO [FOOTER]*/
footer.cabecalho{
    width: 100%;
    height: 40vh;
    display: flex;
    color: $letterColor;
    background-color: $backgroundPrime;

    article, aside{
        width: 50%;
        @include flexCenter(column, space-evenly);
    }

    div.article-top{
        p{
            font-size: 1.7em;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            @include screen992px{
                font-size: 1.5em;
            }
            @include screen780px{
                font-size: 1em;
            }
            @include screen480px{
                font-size: 0.9em;
            }
        }
    }
    
    div.article-bot{
        display: flex;
        justify-content: center;
        a{
            text-decoration: none;
            i.badget{
                font-size: 1.7em;
                margin: 0 8px 0 8px;
                width: fit-content;
                color: $letterColor;
                &:hover{
                    cursor: pointer;
                    background-image: linear-gradient(to right, $Title, $subTitle);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                }
            }
        }
    }

    div.aside-top{
        img{
            height: 8rem;
            @include screen480px{
                height: 3.5rem;
            }
        }
    }

    div.aside-bot{
        p{
            font-style: italic;
            @include screen992px{
                font-size: 0.9em;
            }
            @include screen780px{
                font-size: 0.7em;
            }
            @include screen480px{
                font-size: 0.6em;
            }
        }
    }
}
/*CONFIGURAÇÃO [FOOTER]*/