@charset "UTF-8";
/*CONFIGURAÇÃO [second-content > cards]*/
div.card-persona {
  max-width: 360px;
  border-radius: 20px;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #f0f8ff;
  background-color: #111111;
}
div.card-persona div.image-banner-persona {
  opacity: 0.7;
  width: 360px;
  height: 200px;
  font-size: 25px;
  border-radius: 20px 20px 0 0;
  display: flex;
  font-style: italic;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
}
div.card-persona div.image-banner-persona h3.name-persona {
  font-size: 50px;
  filter: blur(100px);
  text-shadow: 1px 1px 0 #111111;
  color: #5500c4;
  font-family: "H2";
  transition: all 0.3s ease-in-out;
}
div.card-persona div.content-persona {
  height: 0;
  opacity: 0;
  padding: 0 20px;
  overflow: hidden;
  transform: translateY(30px);
  transition: all 0.5s ease-in-out;
}
div.card-persona span.title-persona {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
div.card-persona p.desc-persona {
  padding: 5px;
}
div.card-persona div.arrow-down-up {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

div.image-banner-persona.n1 {
  background-image: url("../images/TChalla.jfif");
}

div.image-banner-persona.n2 {
  background-image: url("../images/Shuri.jfif");
}

div.image-banner-persona.n3 {
  background-image: url("../images/Okoye.jfif");
}

div.image-banner-persona.n4 {
  background-position: center top;
  background-image: url("../images/Nakia.jfif");
}

div.image-banner-persona.n5 {
  background-position: center center;
  background-image: url("../images/MBaku.jfif");
}

div.image-banner-persona.n6 {
  background-position: center center;
  background-image: url("../images/Namor.jfif");
}

div.card-persona:hover > div.image-banner-persona {
  width: 400px;
}

div.card-persona:hover > div.image-banner-persona > h3.name-persona {
  filter: blur(0);
  transition: all 0.3s ease-in-out;
}

div.card-persona:hover > div.content-persona {
  opacity: 1;
  height: 260px;
  padding: 10px 10px;
  overflow-y: scroll;
  transform: translateY(0);
}

div.card-persona:hover > div.content-persona::-webkit-scrollbar-thumb {
  background-color: #3b3b3b;
  border-radius: 20px;
}

div.card-persona:hover > div.content-persona::-webkit-scrollbar-track {
  background: #111111;
}

div.card-persona:hover > div.content-persona::-webkit-scrollbar {
  width: 10px;
}

div.card-persona:hover > div.content-persona::-webkit-scrollbar-thumb {
  background-color: #3b3b3b;
  border-radius: 20px;
}

div.card-persona:hover > div.arrow-down-up {
  transform: rotate(-180deg);
  transition: all 0.3s ease-in-out;
}

/*CONFIGURAÇÃO [second-content > cards]*/
/*CONFIGURAÇÃO [FONTES]*/
@font-face {
  font-family: "H2";
  src: url("../font/BEYNO.otf") format("opentype");
}
/*CONFIGURAÇÃO [FONTES]*/
/*CONFIGURAÇÃO [ELEMENTS HTML5]*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.section-content {
  width: 100%;
  height: 100vh;
  background-color: #f0f8ff;
}
.section-content h2.section-h2 {
  font-size: 5em;
  padding-top: 25px;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4745098039);
  color: #5500c4;
  font-family: "H2";
}

/*CONFIGURAÇÃO [ELEMENTS HTML5]*/
/*CONFIGURAÇÃO [MAIN]*/
main {
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

div.layer {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6980392157);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

article.article-layer, aside.aside-layer {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
}

article.article-layer > img.logo-bp {
  width: 75%;
  -webkit-animation: float 3s infinite;
          animation: float 3s infinite;
}

@-webkit-keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
}
aside.aside-layer a {
  font-weight: bold;
  text-decoration: none;
  color: #5500c4;
}

aside.aside-layer a:hover {
  text-decoration: underline;
}

aside.aside-layer p {
  margin-bottom: 0;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8431372549);
  color: #f0f8ff;
}

/*CONFIGURAÇÃO [MAIN]*/
/*CONFIGURAÇÃO [SECTION > FIRST-SECTION]*/
section.first-content {
  display: flex;
  color: #111111;
  background-color: #f0f8ff;
}

section > article, section > aside {
  width: 50%;
  display: flex;
}

section > article {
  align-items: center;
  justify-content: center;
}

section > aside {
  justify-content: center;
}

section.first-content > aside {
  text-align: left;
  flex-direction: column;
}

section.first-content ul {
  list-style: none;
}

section.first-content li a {
  font-weight: bold;
  text-decoration: none;
  color: #5500c4;
}

section.first-content li a:hover {
  text-decoration: underline;
}

section.first-content li a:visited {
  color: #1B1A40;
}

/*CONFIGURAÇÃO [SECTION > FIRST-SECTION]*/
/*CONFIGURAÇÃO [SECTION > PHOTOS-SECTION]*/
section.photos-content {
  width: 100%;
  height: 50vh;
  display: flex;
  background-color: #111111;
}

div.photos-desc-div {
  width: 25%;
  height: 50vh;
}

div.photos-desc {
  padding: 50px 10px;
  color: #f0f8ff;
  -webkit-animation: pulse 5s infinite ease-in-out;
          animation: pulse 5s infinite ease-in-out;
}

@-webkit-keyframes pulse {
  0%, 100% {
    text-shadow: 5px 5px 5px rgba(77, 0, 128, 0.8);
  }
  50% {
    text-shadow: 5px 5px 5px rgba(77, 0, 128, 0.185);
  }
}

@keyframes pulse {
  0%, 100% {
    text-shadow: 5px 5px 5px rgba(77, 0, 128, 0.8);
  }
  50% {
    text-shadow: 5px 5px 5px rgba(77, 0, 128, 0.185);
  }
}
div.section-carousel {
  width: 50%;
}

img.picture-carousel {
  height: 20.55rem;
}

/*CONFIGURAÇÃO [SECTION > PHOTOS-SECTION]*/
/*CONFIGURAÇÃO [second-content > Personagens]*/
div.second-content-image {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

img.banner-personas {
  width: 75%;
  height: 90vh;
}

section.personas-content {
  display: flex;
}
section.personas-content article, section.personas-content aside {
  width: 50%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*CONFIGURAÇÃO [second-content > Personagens]*/
/*CONFIGURAÇÃO [third-content > Wakanda Para Sempre]*/
/*CONFIGURAÇÃO [third-content > Wakanda Para Sempre]*/
/*CONFIGURAÇÃO [fourth-content > Desenvolvimento do projeto]*/
div.fourth-content {
  width: 100%;
  height: 82.5vh;
  display: flex;
}

div.fourth-content > article, div.fourth-content > aside {
  width: 50%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

img.picture-chadwick {
  width: 70%;
  height: 70vh;
  border-radius: 50%;
}

div.fourth-content > aside {
  flex-direction: column;
}

div.fourth-content > aside p {
  font-size: 1em;
}

div.fourth-content > aside p > span {
  font-style: italic;
}

/*CONFIGURAÇÃO [fourth-content > Desenvolvimento do projeto]*/
/*CONFIGURAÇÃO [FOOTER]*/
footer.cabecalho {
  max-width: 100%;
  max-height: 40vh;
  display: flex;
  color: #f0f8ff;
  background-color: #111111;
}

footer > article, footer > aside {
  width: 50%;
  height: 40vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
}

div.article-top p {
  font-size: 1.7em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

div.article-bot {
  display: flex;
  justify-content: center;
}

article.article-bot a {
  text-decoration: none;
}

i.badget {
  font-size: 1.7em;
  margin: 0 8px 0 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #f0f8ff;
}
i.badget:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #5500c4, #1B1A40);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

div.aside-top img {
  height: 8rem;
}

div.aside-bot p {
  font-style: italic;
}

/*CONFIGURAÇÃO [FOOTER]*//*# sourceMappingURL=index.css.map */