@import '../scss/_variables.scss', '../scss/_cards.scss', '../scss/920px.scss';

/*CONFIGURAÇÃO [FONTES]*/
@font-face {
    font-family: 'H2';
    src: url('../font/BEYNO.otf') format('opentype');
}
/*CONFIGURAÇÃO [FONTES]*/

/*CONFIGURAÇÃO [ELEMENTS HTML5]*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.section-content{
    width: 100%;
    height: 100vh;
    padding: 30px 80px;
    background-color: $backgroundSecond;
    
    h2.section-h2{
        font-size: 5em;
        padding-top: 25px;
        text-shadow: 3px 3px 10px #00000079;
        color: $subTitle;
        font-family: 'H2';
    }
}
/*CONFIGURAÇÃO [ELEMENTS HTML5]*/

/*CONFIGURAÇÃO [NAVBAR]*/
nav.nav-bar{
    @include flexCenter(inherit);
    top: 0;
    width: 100%;
    z-index: 999;
    position: fixed;
    background-color: #000000;
    
    img.navbar-logo{
        width: 90px;
        height: 45px;
    }

    h1.navbar-title{
        font-size: 2.5em;
        color: $Title;
        font-family: 'H2';
    }

    div.mobile-menu{
        @include mobile-menu(none);
        div{
            width: 32px;
            height: 2px;
            margin: 8px;
            background-color: $backgroundSecond;
        }
    }

    ul.links-nav-bar{
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-evenly;
        li.link-item{
            margin-left: 10px;
            a{
                font-size: 1.2rem;
                text-decoration: none;
                color: $letterColor;
                font-family: 'Impact', sans-serif;
                transition: .3s ease-in-out;
                &:hover{
                    color: $linkHover;
                    transition: .3s ease-in-out;
                }
            }
        }

        li.link-item:nth-child(1){
            margin-left: 0;
        }
    }
}
/*CONFIGURAÇÃO [NAVBAR]*/

/*CONFIGURAÇÃO [MAIN]*/
main{
    width: 100%;
    height: 100vh;
    background-image: url('../images/bg-main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

div.layer{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #000000b2;
    backdrop-filter: blur(5px);
}

article.article-layer, aside.aside-layer{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
}

article.article-layer > img.logo-bp{
    width: 75%;
    animation: float 3s infinite;
}

@keyframes float{
    0%, 100%{transform: translateY(0);}
    50%{transform: translateY(50px);}
}

aside.aside-layer a{
    font-weight: bold;
    text-decoration: none;
    color: $Title;
}

aside.aside-layer a:hover{
    text-decoration: underline;
}

aside.aside-layer p{
    margin-bottom: 0;
    text-shadow: 3px 3px 10px #000000d7;
    color: $letterColor;
}
/*CONFIGURAÇÃO [MAIN]*/

/*CONFIGURAÇÃO [SECTION > FIRST-SECTION]*/
section.first-content{
    display: flex;
    color: $letterColor2;
    background-color: $backgroundSecond;
}

section > article, section > aside{
    width: 50%;
    display: flex;

}

section > article{
    align-items: center;
    justify-content: center;
}

section > aside{
    justify-content: center;
}

section.first-content > aside{
    text-align: left;
    flex-direction: column;
}

section.first-content ul{
    list-style: none;
}

section.first-content li a{
    font-weight: bold;
    text-decoration: none;
    color: $Title;
}

section.first-content li a:hover{
    text-decoration: underline;
}

section.first-content li a:visited{
    color: $subTitle;
}
/*CONFIGURAÇÃO [SECTION > FIRST-SECTION]*/

/*CONFIGURAÇÃO [SECTION > PHOTOS-SECTION]*/
section.photos-content{
    width: 100%;
    height: 50vh;
    display: flex;
    background-color: $backgroundPrime;
}

div.photos-desc-div{
    width: 25%;
    height: 50vh;
}

div.photos-desc{
    padding: 50px 10px;
    color: $letterColor;
    animation: pulse 5s infinite ease-in-out;
}

@keyframes pulse{
    0%, 100%{text-shadow: 5px 5px 5px rgba(77, 0, 128, 0.8)}
    50% {text-shadow: 5px 5px 5px rgba(77, 0, 128, 0.185);}
}

div.section-carousel{
    width: 50%;
}

img.picture-carousel{
    height: 20.55rem;
}
/*CONFIGURAÇÃO [SECTION > PHOTOS-SECTION]*/

/*CONFIGURAÇÃO [second-content > Personagens]*/
div.second-content-image{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.banner-personas{
    width: 75%;
    height: 90vh;
}

section.personas-content{
    display: flex;

    article, aside{
        width: 50%;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/*CONFIGURAÇÃO [second-content > Personagens]*/

/*CONFIGURAÇÃO [third-content > Wakanda Para Sempre]*/
div.cine-content{
    display: flex;
    align-items: center;
    justify-content: center;
    article.cine-content2, aside.cine-content2{
        width: 50%;
        height: 75vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    article.cine-content2 img{
        width: 50%;
        height: 60vh;
    }
    article.cine-content2 span{
        font-size: 14px;
        font-weight: bold;
    }
}

div.logo-block-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    div.logo-block, img{
        width: 100px;
        height: 100px;
    }
}
/*CONFIGURAÇÃO [third-content > Wakanda Para Sempre]*/


/*CONFIGURAÇÃO [fourth-content > Desenvolvimento do projeto]*/
div.fourth-content{
    width: 100%;
    height: 82.5vh;
    display: flex;
}

div.fourth-content > article, div.fourth-content > aside{
    width: 50%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.picture-chadwick{
    width: 70%;
    height: 70vh;
    border-radius: 50%;
}

div.fourth-content > aside{
    flex-direction: column;
}

div.fourth-content > aside p{
    font-size: 1em;
}

div.fourth-content > aside p > span{
    font-style: italic;
}
/*CONFIGURAÇÃO [fourth-content > Desenvolvimento do projeto]*/

/*CONFIGURAÇÃO [FOOTER]*/
footer.cabecalho{
    max-width: 100%;
    max-height: 40vh;
    display: flex;
    color: $letterColor;
    background-color: $backgroundPrime;
}

footer > article, footer > aside{
    width: 50%;
    height: 40vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
}

div.article-top p{
    font-size: 1.7em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div.article-bot{
    display: flex;
    justify-content: center;
}

article.article-bot a{
    text-decoration: none;
}

i.badget{
    font-size: 1.7em;
    margin: 0 8px 0 8px;
    width: fit-content;
    color: $letterColor;
    &:hover{
        cursor: pointer;
        background-image: linear-gradient(to right, $Title, $subTitle);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}

div.aside-top img{
    height: 8rem;
}

div.aside-bot p{
    font-style: italic;
}
/*CONFIGURAÇÃO [FOOTER]*/