@import '../scss/_variables.scss';

/*CONFIGURAÇÃO [second-content > cards]*/
div.card-persona{
    max-width: 360px;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $letterColor;
    background-color: $backgroundPrime;

    div.image-banner-persona{
        opacity: .7;
        width: 360px;
        height: 200px;
        font-size: 25px;
        border-radius: 20px 20px 0 0;
        display: flex;
        font-style: italic;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all .5s ease-in-out;
        
        h3.name-persona{
            font-size: 50px;
            filter: blur(100px);
            text-shadow: 1px 1px 0 $backgroundPrime;
            color: $Title;
            font-family: 'H2';
            transition: all .3s ease-in-out;
        }
    }

    div.content-persona{
        height: 0;
        opacity: 0;
        padding: 0 20px;
        overflow: hidden;
        transform: translateY(30px);
        transition: all .5s ease-in-out;
    }

    span.title-persona{
        font-size: 24px;
        margin-bottom: 10px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    p.desc-persona{
        padding: 5px;
    }

    div.arrow-down-up{
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
    }
}

div.image-banner-persona.n1{
    background-image: url('../images/TChalla.jfif');
}
div.image-banner-persona.n2{
    background-image: url('../images/Shuri.jfif');
}
div.image-banner-persona.n3{
    background-image: url('../images/Okoye.jfif');
}
div.image-banner-persona.n4{
    background-position: center top;
    background-image: url('../images/Nakia.jfif');
}
div.image-banner-persona.n5{
    background-position: center center;
    background-image: url('../images/MBaku.jfif');
}
div.image-banner-persona.n6{
    background-position: center center;
    background-image: url('../images/Namor.jfif');
}

div.card-persona:hover > div.image-banner-persona{
    width: 400px;
}

div.card-persona:hover > div.image-banner-persona > h3.name-persona{
    filter: blur(0);
    transition: all .3s ease-in-out;
}

div.card-persona:hover > div.content-persona{
    opacity: 1;
    height: 260px;
    padding: 10px 10px;
    overflow-y: scroll;
    transform: translateY(0);
}

div.card-persona:hover > div.content-persona::-webkit-scrollbar-thumb {
    background-color: #3b3b3b;
    border-radius: 20px;
}

div.card-persona:hover > div.content-persona::-webkit-scrollbar-track {
    background: #111111;
}

div.card-persona:hover > div.content-persona::-webkit-scrollbar{
    width: 10px;
}

div.card-persona:hover > div.content-persona::-webkit-scrollbar-thumb{
    background-color: #3b3b3b;
    border-radius: 20px;
}

div.card-persona:hover > div.arrow-down-up{
    transform: rotate(-180deg);
    transition: all .3s ease-in-out;
}
/*CONFIGURAÇÃO [second-content > cards]*/