/*CONFIGURAÇÃO [NAVBAR]*/
body{
    scroll-behavior: smooth;

    nav.nav-bar{
        @include flexBasic(space-evenly);
        top: 0;
        width: 100%;
        z-index: 999;
        position: fixed;
        background-color: #000000;
        
        img.navbar-logo{
            width: 90px;
            height: 45px;
        }
    
        h1.navbar-title{
            font-size: 2.5em;
            color: $Title;
            font-family: 'H2';
            @include screen992px{
                font-size: 2em;
            }
            @include screen780px{
                font-size: 1.8em;
            }
            @include screen480px{
                font-size: 1.5em;
            }
        }
    
        div.mobile-menu{
            @include mobile-menu(none);
            div{
                width: 32px;
                height: 2px;
                margin: 8px;
                background-color: $backgroundSecond;
                }
            @include screen992px{
                @include mobile-menu(block);
            }
        }
    
        ul.nav-bar-list{
            list-style: none;
            @include flexBasic(space-evenly);
            @include screen992px{
                @include flexCenter(column, space-around);
                top: 8vh;
                right: 0;
                width: 55vw;
                height: 92vh;
                position: absolute;
                background-color: #0000009f;
                backdrop-filter: blur(20px);
                transform: translateX(100%);
                transition: transform .3s ease-in-out;
            }
    
            li.link-item{
                margin-left: 30px;
                @include screen992px{
                    opacity: 0;
                    margin-left: 0;
    
                    @keyframes navLinkFade{
                        from{
                            opacity: 0;
                            transform: translateX(50px);
                        }
                        to{
                            opacity: 1;
                            transform: translateX(0);
                        }
                    }
                }
                a{
                    font-size: 1.2rem;
                    text-decoration: none;
                    color: $letterColor;
                    font-family: 'Impact', sans-serif;
                    transition: .3s ease-in-out;
                    &:hover{
                        color: $linkHover;
                        transition: .3s ease-in-out;
                    }
                    @include screen992px{
                        font-size: 1.7em;
                    }
                }
            }
    
            li.link-item:nth-child(1){
                margin-left: 0;
            }
        }
    
        ul.nav-bar-list.active{
            @include screen992px{
                transform: translateX(0);
            }
        }
    }
    /*CONFIGURAÇÃO [NAVBAR]*/
}