$backgroundPrime: #111111;
$backgroundSecond: #f0f8ff;
$letterColor: #f0f8ff;
$letterColor2: #111111;
$Title: #5500c4;
$subTitle: #1B1A40;
$linkHover: #442066;

@mixin flexBasic($justify-content){
    display: flex;
    align-items: center;
    justify-content: $justify-content;
}

@mixin flexCenter($flex-direction, $justify-content){
    display: flex;
    align-items: center;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
}

@mixin mobile-menu($display){
    display: $display;
    cursor: pointer;
}

@mixin screen1200px{
    @media screen and (max-width: 1250px){
        @content;
    }
}

@mixin screen992px{
    @media screen and (max-width: 992px){
        @content;
    }
}

@mixin screen780px{
    @media screen and (max-width: 780px){
        @content;
    }
}

@mixin screen480px{
    @media screen and (max-width: 480px){
        @content;
    }
}